.project_title {
  width: 496px;
  height: 46px;
  left: 590px;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.image-mobile {
  display: none;
}

.image-desk {
  display: flex;
  height: 586px;
  width: 100%;
}

.client_card {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  list-style-type: none;
  gap: 15px;
  padding: 0;
  width: 400px;
  height: 30px;
  margin: 12px 0;
}

.client_name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #344563;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.role-card {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  width: 120px;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6b778c;
}

.categories_card {
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
  width: 203px;
  height: 24px;
  gap: 5px;
  left: 650px;
  top: 230px;
  color: blue;
}

.role {
  display: flex;
  width: 160px;
  color: #7a869a;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
}

.year {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.circle {
  width: 9px;
  height: 9px;
  background: #c1c7d0;
  border-radius: 50%;
}

.techno_project {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 223px;
  height: 24px;
  gap: 15px;
  left: 790px;
  top: 790px;
  color: blue;
}

.ollinks {
  text-decoration: none;
  flex-wrap: wrap;
  padding: 4px 12px;
  border-radius: 10px;
  height: 24px;
  background: #dfe1e6;
  border: 1px solid #dfe1e6;
  color: #6070ff;
  position: static;
  left: 1px;
}

.description_desk > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  width: 778px;
  position: absolute;
  height: 282px;
  top: 781px;
}

.description_mobile {
  display: none;
}

.divider {
  width: 306px;
  height: 17px;
}

.seelive {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 25px;
  gap: 10px;
  text-decoration: none;
  position: absolute;
  width: 95px;
  height: 30px;
  left: 5px;
  bottom: 16px;
  font-size: 20px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.source {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  font-size: 20px;
  position: absolute;
  width: 126px;
  height: 30px;
  left: 159px;
  bottom: 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 35px;
  position: absolute;
  left: 790px;
  top: 970px;
}

a:-webkit-any-link {
  color: #6070ff;
  cursor: pointer;
  text-decoration: none;
}
